@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
/* Body Styles */
body {
   
  margin: 0;
  padding: 0;
  
  
   
}

/* Header Styles */
header {
    position: fixed; /* Fixer le header */
    top: 0; /* Le positionner en haut de la fenêtre */
    width: 100%; /* Prendre la largeur complète */
    background-color: rgba(255, 255, 255, 0.9); /* Fond légèrement transparent */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s; /* Transition pour le mode sombre */
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

nav {
    display: flex;
}

nav button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
    color: #000; /* Couleur par défaut */
}

nav button::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300%;
    height: 300%;
    background: rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
}

nav button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

nav button:hover {
    color: #4CAF50; /* Couleur verte pour le hover */
}

.menu {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu:hover .dropdown {
    display: block;
}

.dropdown button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown button:hover {
    background-color: #f0f0f0;
}

.auth-buttons button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.auth-buttons button:hover {
    background-color: #4CAF50; /* Couleur verte pour le hover */
    transform: scale(1.05);
    color: #fff; /* Couleur du texte en blanc pour contraste */
}

.mode-toggle button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.3s;
}

.mode-toggle button:hover {
    transform: rotate(20deg);
}

.mode-toggle button:hover {
    background-color: #4CAF50; /* Couleur verte pour le fond */
    color: #fff; /* Couleur du texte en blanc pour contraste */
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode header {
    background-color: rgba(0, 0, 0, 0.9); /* Fond légèrement transparent */
    color: #4CAF50; /* Couleur verte pour le texte */
}

.dark-mode nav button,
.dark-mode .auth-buttons button {
    color: #fff; /* Couleur du texte en blanc pour contraste */
}

.dark-mode .dropdown button {
    color: #4CAF50; /* Couleur verte pour les choix de menu */
}



/* Box 1 Accueil */
.content-section {
    padding-top: 80px; /* Ajuster selon la hauteur de votre header */
    padding-bottom: 60px; /* Espace pour le footer */
    overflow: hidden; /* Vous pouvez retirer cela pour permettre le défilement */
}

.container { 
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
width: 1300px;
height: 600px;
margin-bottom: 20px;

box-shadow: 0 30px 50px #dbdbdb;
border-radius: 20px;
overflow: hidden; /* Empêcher le défilement à l'intérieur du container */}

.slide {
    position: relative;
    height: 100%;
}

.item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.item:hover {
    transform: scale(1.1); /* Agrandir l'image lors du hover */
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3); /* Changer la boîte d'ombre lors du hover */
}

.item:active {
    transform: scale(1.05); /* Réduire légèrement l'agrandissement lors du clic */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Changer la boîte d'ombre lors du clic */
}

/* Styles pour chaque image spécifique */
.img1 {
    background-image: url('Images visite 1/herbe 1.jpg');
}

.img2 {
    background-image: url('Images visite 1/image8.jpeg');
   /* filter: blur(2px);*/
}

.img3 {
    background-image: url('Images visite 1/image 4.jpeg');
}

.img4 {
    background-image: url('Images visite 1/image 12.jpg');
}

.img5 {
    background-image: url('Images visite 1/image 6.jpeg');
}

.img6 {
    background-image: url('Images visite 1/image 10.jpeg');
}

/* Réorganiser les items pour les différentes images */
.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #000;  /* Changer la couleur du texte en noir */
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    color: #000;  /* Changer la couleur du texte en noir */
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    color: #000;  /* Changer la couleur du texte en noir */
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    color: #000;  /* Changer la couleur du texte en noir */
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: #fff;
}



/* Styles pour la section "herbes" */
#Herbes {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px; /* Ajoutez une marge supérieure pour espacer du conteneur */
   /* Marge inférieure pour espacer du bas de la page */
    margin-bottom: 0;
    padding: 800Px 20PX; /* Ajoutez un espace intérieur */
    background-color: #f0f0f0; /* Couleur de fond pour mieux distinguer la section */
    text-align: center; /* Centrer le contenu */
    height: auto; /* Ajuste automatiquement la hauteur en fonction du contenu */
align-items: center;
 /* Ajuste le padding pour réduire l'espace autour du contenu */
background-color: #f9f9f9; /* Ajoute une couleur de fond pour différencier la section */
margin: 40px 0; /* Ajoute une marge pour séparer la section des autres sections */
 padding-bottom: 30px;
}


.section_title {
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
margin: 100PX;
    margin-bottom: 30px;
}

.section_title:before,
.section_title:after {
    position: absolute;
    content: "";
    background-color: #1ad358;
    width: 100%;
    height: 5px;
    border-radius: 6px;
}

.section_title:before {
    left: 10px;
    bottom: 0;
}

.section_title:after {
    top: 0;
    left: -10px;
}

.images {
    margin: 20px auto; /* Espacement autour de la liste d'images */
    padding: 0 8%; /* Padding à gauche et à droite pour contenir les images */
}

.images ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer les images horizontalement */
    list-style-type: none; /* Supprimer les puces de la liste */
    padding: 0;
}

.images li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    transition: 0.5s;
    height: 300px;
    width: 30%; /* Ajuster la largeur des images */
    max-width: 300px; /* Limiter la largeur maximale des images */
    border: 1px solid #ccc; /* Ajouter une bordure pour délimiter les images */
    border-radius: 8px; /* Arrondir les coins */
    overflow: hidden; /* Cacher tout contenu débordant */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.images li div {
    width: 100%;
    height: 100%; /* Hauteur de la partie image */
    overflow: hidden; /* Cacher tout contenu débordant */
}

.images li div img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Remplir l'espace de manière proportionnée */
}

.images li:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

/* style pour section mauvaise herbes */

#mauvaises {
    height: auto; /* Ajuste automatiquement la hauteur en fonction du contenu */
    min-height: 50vh; /* Définit une hauteur minimale pour garder une certaine taille */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 15%; /* Ajuste le padding pour réduire l'espace autour du contenu */
    background-color: #f9f9f9; /* Ajoute une couleur de fond pour différencier la section */
    margin-top: 0; /* Supprimez la marge supérieure */
    margin-bottom: 0; /* Supprimez la marge inférieure */
    margin-bottom: 20px; /* Ajoutez une nouvelle marge inférieure pour espacer du bas de la page */
}


.section_title {
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
    margin: 0 auto 30px;
text-align: center;
    margin-bottom: 30px;
    width: fit-content;
}

.section_title:before,
.section_title:after {
    position: absolute;
    content: "";
    background-color: #1ad358;
    width: 100%;
    height: 5px;
    border-radius: 6px;
   
}

.section_title:before {
    left: 10px;
    bottom: 0;
}

.section_title:after {
    top: 0;
    left: -10px;
}
.list_mauvaise {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999;
}
.mauvaise-herbe {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 20px;
}
.mauvaise-herbe i {
    font-size: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #52d20d;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}
.mauvaise-herbe h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.mauvaise-herbe p {
    font-size: 12px;
}
.mauvaise-herbe a {
    margin-top: 10px;
    color: #61cb10;
    padding: 5px 20px;
    border: solid #0ab535;
    font-size: 12px;
}
/*Apres Mauvaise herbes */ 
#mauvaise-herbed {
    padding: 0 10%;
    margin-bottom: 50px;
    position:relative;
}

#mauvaise-herbed .content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
}

#mauvaise-herbed .box {
    overflow: hidden;
    position: relative;
    height: 450px; /* Hauteur des boîtes */
    width: calc(50% - 16px); /* Ajustement de la largeur pour deux boîtes par ligne */
    transition: 0.5s;
}

#mauvaise-herbed .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s;
    opacity: 0; /* Initialement invisible */
}

.box:hover .content {
    transform: translateX(0);
    opacity: 1; /* Rendre visible au survol */
}

.box .content h4 {
    font-size: 20px; /* Taille de police réduite */
    margin-bottom: 10px;
}

.box .content p {
    padding: 2px;
    font-size: 12px; /* Taille de police réduite */
    margin-bottom: 10px;
}

.box .content p:nth-child(3) {
    margin-bottom: 25px;
}

.box .content a {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #03980f;
    color: #148607;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Taille de police réduite */
    transition: 0.3s;
}

.box .content a:hover {
    background-color: #67df87;
    color: #fff;
}

.box:hover {
    box-shadow: 0 0 20px #0de226;
}


/* Style de la section "Les Adventices" */
#adventices {
    height: auto; /* Ajuste automatiquement la hauteur en fonction du contenu */
    min-height: 50vh; /* Définit une hauteur minimale pour garder une certaine taille */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 15%; /* Ajuste le padding pour réduire l'espace autour du contenu */
    background-color: #f9f9f9; /* Ajoute une couleur de fond pour différencier la section */
    margin: 40px 0; /* Ajoute une marge pour séparer la section des autres sections */
}


.section_title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}
#adventices {
    height: auto; /* Ajuste automatiquement la hauteur en fonction du contenu */
    min-height: 50vh; /* Définit une hauteur minimale pour garder une certaine taille */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 15%; /* Ajuste le padding pour réduire l'espace autour du contenu */
    background-color: #f9f9f9; /* Ajoute une couleur de fond pour différencier la section */
    margin: 40px 0; /* Ajoute une marge pour séparer la section des autres sections */
}

.section_title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    padding: 20px 5%;
}
.about .image {
    width: 55%;
    height: 400px;
  
}
.about .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.about .content {
    width: 40%;
}
.about .content h1 {
    margin: 16px 0;
}
.about .content h2 {
    margin: 15px 0;
    color: #333;
}
.about .content p {
    color: #999;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 25px;
}
/* Styles pour le footer */
#contact {
    height: auto; /* Ajuste automatiquement la hauteur en fonction du contenu */
    min-height: 50vh; /* Définit une hauteur minimale pour garder une certaine taille */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 15%; /* Ajuste le padding pour réduire l'espace autour du contenu */
    background-color: #f9f9f9; /* Ajoute une couleur de fond pour différencier la section */
    margin: 40px 0; /* Ajoute une marge pour séparer la section des autres sections */
}
.localisation_contact_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0;
    height: 80vh;
}
.localisation {
    width: 49%;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.localisation iframe {
    width: 100%;
    border-radius: 6px;
}

.localisation_contact_div .form_contact {
    width: 49%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 6px;
}
.localisation_contact_div h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
.localisation_contact_div .form_contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form_contact form input , textarea {
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    outline: 0;
    border-radius: 6px;
    font-size: 15px;
    resize: none;
}
.form_contact form input[type="submit"]{
    margin-bottom: 0;
    background-color: #0fdc1d;
    color: #fff;
    border: 0;
}
footer {
   
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    z-index: 2;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 30px;
    margin-right: 10px;
}

.footer-links ul {
    list-style-type: none;
    display: flex;
}

.footer-links ul li {
    margin-right: 20px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #4CAF50;
}

.footer-social ul {
    list-style-type: none;
    display: flex;
}

.footer-social ul li {
    margin-right: 10px;
}

.footer-social ul li a img {
    width: 30px; /* Ajustez la taille des icônes selon vos besoins */
    height: auto;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px
}

.footer-bottom p {
    color: #ccc;
    font-size: 14px;
}

